*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
background-image: linear-gradient(rgba(14, 14, 14, 0.6), rgba(14, 14, 14, 0.6)), url(../imagenes/fondos/bg4.jpg); 
background-size: cover;
}

/*-----------------HEADER-------------------*/
 .titulo{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:white;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
    border: solid black 4px;
}
.titulo .h1{
    font-size: 80px;
    letter-spacing: 3px;

}

/*--------------------CONTENEDOR--------------------*/

.container{
    background-color: black;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0px;
    position: relative;
}

.container > .logotipo, img{
    width: 100px;
    height: 100px;
}

.container > .contenido,
.container > .aside,
.container >  div,
.container > .footer{

    background-color: rgb(8, 8, 8);
    padding: 20px;
    
}
/*---------------------REDES FLOTANTES-------------*/
.container .wa_we{
    position: fixed;
    bottom: 20%;
    right: 5px;
    padding: 5px;
    z-index: 5;
    opacity: 0.8;
    border-radius: 4px;
}
.wa_we a, .icon-whatsapp{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    
}
/*--------BOTON DE SUBIR-------------*/
.container .icono{
    position: fixed;
    bottom: 1%;
    right: 8px;
    border-radius: 50%;
    height: 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.icon-arriba{
    color: #ff0224; 
}

/*---------------------NAVEGADOR----------------------*/

.bg-color {
    background-color: #8a1d1d;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 5;
    height: 60px;
    border-bottom: #000000 solid 4px;
    border-radius: 16px;
      
}
.conteiner-color > .icon-home {
    background-color:#8a1d1d;
    margin-left: 10%;
    font-size: 25px;
    
    
}
.color-nav{
    width: 100%;
    height: 100%;
    
}
.hover{
    margin-left: 100px;
    font-family: 'Antonio', sans-serif;
    
    
}
a .icon-home{
    color: white;
    
}
.icon-home:hover{
    transition: all 500ms;
    transform: scale(1.1);
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link{
 color: #000000;

}
.color-nav{
    background-color: #8a1d1d;
    border-radius: 4px;
    margin-top: 8px;
    
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
    transition: all 500ms;
    transform:scale(1.1);
}

/*---------------------TEXTO ANIMADO----------------------*/
.container .texto1 {
    margin-left: 28%;
    margin-top: 0%;
    width: 700px;
    height: 60px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    background-color: #000000;
    border-top: #ca7373 solid;
    border-bottom: #ca7373 solid;
    
}
.textos{
    list-style: none;
    padding-left: 5px;
    animation: cambiar 18s infinite;
    color:#a92424;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
}
@keyframes cambiar {
    0%{ margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -55px;}
    50%{margin-top: -55px;}

    55%{margin-top: -110px;}
    80%{margin-top: -110px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40%;}

    100%{margin-top: 0;}

}

/*--------------ZONA DE IMAGENES - INDEX-----------------*/

.container > .vitrina{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1/4;
    justify-content:center;
    gap: 15px;
    margin-top: 30px;
    background-color: #000000;
    
}


/*efecto mouse sobre imagen*/

.vitrina .imagenes{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 50px;
    

}
.vitrina .imagenes img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; 
    
}

.vitrina .imagenes .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.521);
    transition: all 500ms ease-out;
    text-align: center;
    opacity: 0;
    justify-content: center;
    align-items: center;
    
    }

.vitrina .imagenes:hover>.capa {
    opacity: 1;
}

    
.vitrina .imagenes .capa h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 120px;
    margin-top: 250px;
    font-size: 60px;
    font-family: 'Antonio', sans-serif;

}
.vitrina .imagenes:hover > img{
    transform: scale(1.1);
}

/*----------------QUIENES SOMOS----------------*/

.container >.org{
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
    border-radius: 50px;
    margin-top: 60px;
}
.container .titulos_pag{
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    
}
.img_org{
   flex-direction: column;
   height: 270px;
   width: 100%;
   padding-top: 10px;
   border-radius: 100px
}
.img_tabla{
    width: 130px;
    height: 130px;
    margin-top: 30px;

}
.h3_org{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px ;
}
.h3_tabla{
    font-size: 15px;
    text-align: center;
}
.p_org{
    text-align: center;
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-transform: none;
    font-size: 16px;
    
}
.parrafos{
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #000000;
}
.tabla{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*----------contenidos------------*/
.container>.contenido {
    grid-column: span 3;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
}

.contenido>.article {
    background-color: #e6cf90;
    padding: 30px;
    color: black;
    border-radius: 8px;
    width: 100%;
    height: 80%;
    
}


/*----------------ZONA ESTILOS-----------------*/


.container .estilos{
    grid-column: 1/5;
    grid-row: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    border-radius: 50px;
    font-family: 'Antonio', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a_estilos .h3{
    font-size: 40px;
    text-transform: uppercase;
    background-color: #a92424;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;   
}
.a_estilos{
    list-style: none;
    text-decoration: none;
    color: #000000;
    
}
.img_estilos {
    height: 400px;
    width: 300px;
    float:right;
    padding: 0px;
    border: solid 8px rgba(133, 125, 15, 0.541);
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 10px;
    

}
.img_estilos_izq{
    height: 400px;
    width: 300px;
    float: left;
    padding: 10px;
    border: solid 8px;
    border-radius: 8px;
    margin: 10px;
    margin-left: 50px;
}
.img_estilos_large{
    height: 320px;
    width: 450px;
    padding: 20px;
    border: solid 8px coral;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 10px;
}
.img_estilos_large_float{
    height: 320px;
    width: 460px;
    padding: 20px;
    float:right;
    border: solid 8px coral;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 30px;
}
.img_estilos_large_float2 {
    height: 320px;
    width: 350px;
    padding: 20px;
    float: right;
    border: solid 8px coral;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 30px;
}


.p_estilos {
    padding: 10px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.h3_texto{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    text-align: justify;
    padding: 50px;
    background-color: #f0c370;
}
.ul_estilos{
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    margin-left: 30px;
}
   

/*----------------TIENDAS-----------------*/
.container >.tiendas{
    grid-column: 2/5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 50px;
    gap: 20px;
    background-color: #000000;
         
}
.tiendas .contenedor_tiendas{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 3px rgb(2, 15, 13);
}
.img_tiendas{
  height: 150px;
  width: 150px;
  border: solid white 1px;

}
.contenedor_tiendas .texto_tiendas{
    color: white;
    flex-direction: column;
    text-align: center;
    
}

.container > .h3_tiendas{
    grid-column: 1;
    grid-row: 1;
    color: white;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    
    height: 100%;
    background-color: black;
    margin-top: 50px;
}
.contenedor_tiendas:hover{
    transform: scale(1.1);
    transition: all 500ms;
}
 .mapa{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    width: 90%;
    
 }
 /*----------------------CONTACTENOS-------------------*/
.p_tabla {
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}
.msn_asistente{
    font-family: 'Antonio', sans-serif;
    background-color: #ffffff;

}
.h3_contacto{
    font-family: 'Antonio', sans-serif;
    color: white;
    padding: 10px;
    grid-column: 1;
    width: 200px;
    border-radius: 4px;
    margin-top: 60px;
    
}
.container .contact {
    width: 100%;
    height: 55%;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 2/5;
    background-color: #ffffff;
    border-radius: 8px;
    grid-column: 2/5;
    grid-row: 1;
    margin-top: 60px;
   
}
.mensaje{
    width: 100%;
    height: 200px;
    background-color: #a92424;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: #ffffff;
}
.contact .control {
    width: 100%;
    background-color:#a92424;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    
}
.boton {
    width: 100%;
    background-color: rgb(24, 24, 24);
    border: none;
    padding: 12px;
    color: white;
    margin: 11px 0;
}
.contactenos{
    margin-top: 60px;
    background-color: black;
    border-radius: 8px;
    margin-right: 15px;
    height: 100%;

}
.container .video{
    grid-row: 1;
    grid-column: 2/5;
    margin-top: 110%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #000000;
    
}
.video_youtube{
    margin-top: 0px;
    
}
.ayudante{
    width: 240px;
    height: 180px;
    margin-top: 50px;
    margin-bottom: 0;
}
.contactenos .msn_ayudante{
    color:black;
    background-color: white;
    border-radius: 8px;
    margin-top: 4px;
    padding: 10px;
}
 /*-----------------ASIDE-------------------*/
 .container .aside {
     grid-column: span 2;
    background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
     color: rgb(0, 0, 0);
     flex-direction: column;
     margin-top: 30px;
     gap: 140px;
     height: 60%;
     border-radius: 50px;

 }

 .div_aside {
     margin: 30px;
     margin-top: 50px;
     padding: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }

 .img_aside {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     height: 100%;
     border-radius: 8px;
 }

 .a_aside {
     text-align: center;
     background-color: #ffffff;
     border-radius: 8px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
    padding: 5px;
 }
 .posision .aside {
     position: sticky;
     top: 0px;
 }

 .container .posision {
     background-color: #000000;
     grid-column: span 2;
 }

 /*Se hizo para acomodar el aside en las demás páginas*/
 .container >.aside2 {
     grid-column: span 1/6;
     grid-row: 1/2;
    background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
    flex-direction: column;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    gap: 140px;
    height: 60%;
    padding-top: 50px;
    

 }

 .posision_2 .aside2 {
     position: sticky;
     top: 0px;
    background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
        border-radius: 50px; 
        
 }

 .container .posision_2 {
     background-color: #000000;
   
    }
 

/*DESCARGABLE*/
.h3_descargables{
 text-transform: uppercase;
font-family: 'Antonio', sans-serif;
text-align: center;
margin-top: 40px;
color: white;
padding-top:40px;

}

.img_png{
    padding: 10px;
}


/*---------------------FOOTER--------------------*/
.container .footer {
    background-color: #070707;
    grid-column: 1/6;
    margin-top: 80px;
    text-align: center;
    border-top: solid 1px #a92424;
   
}
.logotipo_footer{
    z-index: 10;
}
.redes a{
    text-decoration: none;
    color: white;
}
.p_footer{
  color: #d3cfcf;
  margin-top: 30px;
  font-family: 'Rajdhani', sans-serif;
}

/*.................................@MEDIA---------------------------*/
@media screen and (max-width: 1200px) {
/*TEXTO ANIMADO*/
.container .texto1 { 
    margin-left: 18%;
    }
.titulo .h1 {
    font-size: 70px;
}
/*INDEX*/
.container .vitrina {
    grid-column: span 1/2;

}
/*ASIDE*/
 .container .aside {
    grid-column: span 4/6;

 }


@media screen and (max-width: 1000px) {
/*NAVEGADOR*/
.hover {
        margin-left: 35px;
    }
.hover:hover{
    transition: all 500ms else;
    transform: scale(1.1);
    margin-left: 70px;
}
.ul_nav .a_nav{
    padding: 0;
}
/*TEXTO ANIMADO*/
.container .texto1 {
    display: none;
}
/*INDEX*/
.container .vitrina {
    grid-column: span 1/4;
}
.vitrina {
    margin-top: 50px;
}
/*QUIENES SOMOS*/
.container >.contenido {
    grid-column: 1/-1;
    margin-top: 0;
}
.container .org {
   grid-column: 4/3;
   height: 300px;
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
}
.org .img_org {
    width: 100px;
    height: 160px;
}

 .h3_org {
    text-align: end;
    padding: 5px;
    margin-top: 70px;
 }   

.p_org{
    text-align: end;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-transform: none;

}
 /*TIENDAS*/
 .container .tiendas {
     grid-column: span 4/6;

 }
/*CONTACTENOS*/
.container .contactenos {
    grid-column: 1;
}

.container .contact {
    grid-column: 2/6;
    z-index: 4;
    height: 50%;
}
.mensaje{
    height: 50px;
}
 /*ASIDE*/
.container .aside {
    display: none;
}

.container .aside2 {
    display: none;
}


}

@media screen and (max-width: 768px){
.titulo .h1 {
    font-size: 50px;
}
/*TEXTO ANIMADO*/
.container .texto1 {
    display: none;
}

.header {
     text-align: center;
 }
/*QUIENES SOMOS*/
.container .contenido{
    grid-column: 1/-1;
    height: 100%;
}
.container  .org{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;

}
.contenido .article{
    height: 88%;
}
.org .img_org {
    width: 100px;
    height: 160px;
}

.contenido > .titulos_pag{
    font-size: 30px;
    padding: 0px;
    height: 50px;
    margin-top: 20px;
    
}
/*CONTACTENOS*/
.container .contactenos{
    grid-column: 1/-1;
}
.container .contact{
    grid-column: 1/-1;
    grid-row: 2;
    z-index: 4;
    height: 60%;
}

.container .video {
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    margin-top: 500px;
}
.video_youtube{
width: 100%;
height: 100%;
}
/*NAVEGADOR*/   
.hover {
    margin-left: 35px;
}
/*ESTILOS*/
.container .estilos{
    width: 100%;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*REDES FLOTANTE*/
.container .wa_we{
    bottom: 40%;
    
}
.wa_we a,
.icon-whatsapp {
    font-size: 25px;
}
 /*ASIDE*/
.container .aside{
    grid-column: 1/-1;
    display: none;
}

.container .aside2 {
    display: none;
}
/*INDEX*/
.container .vitrina{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}
.container .imagenes{
    width: 100%;
}

/*TIENDAS*/
  .container .tiendas{
    grid-column: span 4/6;
  }
.mapa{
    display: none;
}
/*FOOTER*/
.footer{
    margin-top: 10px;
}
  .p_footer {
      margin-top: 20px;
      font-size: 11px;
      text-align: center;
  }

}
}